.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(196, 237, 250);
    flex-wrap: wrap;
}

.header_intro{
    margin-bottom: 30px;
}

h1{
    font-family: Georgia, sans-serif;
    color: rgb(7, 7, 7);
    font-size: 50px;
    margin-bottom: 2px;
    text-align: center;
}

.header_intro p{
    font-family: Georgia;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.header_photo img:first-child{
    border-style: none;
}

.social_links{
    display: flex;
    justify-content: center;
}

ion-icon{
    font-size: 24px;
    color: grey;
}

.sections{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.aboutme{
    margin-top: 20px;
}

.aboutme h2{
    color: black;
    font-size: 30px;
    font-family: Georgia;
    text-align: center;
}

.aboutme p{
    color: grey;
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.projects{
    background-color: lightgoldenrodyellow;
    margin-top: 30px;
}

.projects h2{
    color: black;
    font-size: 30px;
    font-family: Georgia;
    text-align: center;

}

.project_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    border-style: solid;
    border-color: grey;
}
